<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFestivalBandsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50738/FestivalBandsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFestivalBandsService"
                contract="FestivalsBandsServiceReference.IFestivalBandsService"
                name="BasicHttpBinding_IFestivalBandsService" />
        </client>
    </system.serviceModel>
</configuration>